body{
    font-family: "Roboto", sans-serif;
    color: var(--slate-color);
    background-color: var(--white-color);
max-width: 428px;

margin: 0 auto;
}

* {
    box-sizing: border-box;

}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;}

ul, ol {
    margin: 0;
padding: 0;}

img {display: block;}

.container {
    max-width: 426px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    
        


}


:root {
--iris-color: #4D5AE5;
--navy-blue-color: #2E2F42;
--white-color: #ffffff;
--slate-color: #434455;
--cloud-color: #F4F4FD;
--ocean-color: #404BBF;

--cornflower-color: #e7e9fc;

--green-color: #31D0AA;

--light-slate-color:  #8E8F99;
--dairy-color: #FCFCFC;
}

/* ---------LINK----------- */
.link {text-decoration: none;}


/* ---------LIST---------- */
.list {list-style: none;}



/* HEADER */
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--cornflower-color);


    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

    
}

.header-container { 
    
    /* для десктопу */
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-between;
    align-content: flex-start; */

    width: 428px;
    
    display: flex;
align-items: center;
justify-content: space-between;

}

.header-navigation { display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}



/* header logo */
.logo-webstudio {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--iris-color);

margin-right: 76px;

position: relative;
}
.logo-webstudio:hover {color: var(--iris-color);} 
.logo-webstudio:focus {color: var(--iris-color);} 

.studio {color: var(--navy-blue-color);}
.studio:hover {color: var(--iris-color);}
.studio:focus {color: var(--iris-color);}



/* header link, list */
.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);

    /* display: flex; */
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 40px;

    position: relative;
    
    /* Прихована навігація */
    display: none;
}

.line {position: relative;
color: var(--ocean-color);
}
.header-list-menu.line {
    color: var(--ocean-color);
}

.line::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background: var(--ocean-color);
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: block;
    width: 100%;

bottom: 0;
background: var(--ocean-color);
}

/* .line:hover::after, .line:focus::after  {
    visibility: visible;
} */
/* Коли буде додана сторінка CONTACTS потрібно буде додати до неї клас line у посилання */

.header-list-menu {
    padding: 24px 0;
    color: var(--navy-blue-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-menu:hover {color: var(--ocean-color);}
.header-list-menu:focus {color: var(--ocean-color);}


.header-list-menu::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background: var(--ocean-color);
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* header address link */
    .address-link {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: var(--slate-color);
        letter-spacing: 0.02em;
    margin-left: auto;

    /* display: flex; */
  
    gap: 40px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* Приховані контакти */
    display: none;
    
    }
        .address-link:hover {color: var(--ocean-color);}
        .address-link:focus {color: var(--ocean-color);}





        /* MAIN CONTENT */


        /* ----HERO - Section 1--------*/


.hero-studio {background-color: var(--navy-blue-color);

background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/BG-hero-mobile-1x.png);
/* url(../images/people-office.jpg), */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-clip: padding-box;

width: 428px;
margin: auto;
background-origin: border-box;

    padding-top: 188px;
    padding-bottom: 188px;

    
}

.hero-title { font-weight: 700;
    font-size: 36px;
    /*   для десктопу font-size: 56px; */
    line-height: 1.07;
        text-align: center;
    letter-spacing: 0.02em; 
    color: var(--white-color);
margin-bottom: 48px;

width: 100%;

}
.hero-title-container {
    max-width: 320px;
    

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    margin-bottom: 48px;

    }

    .hero-button {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: var(--white-color);
background: var(--iris-color);
cursor: pointer;
letter-spacing: 0.04em;

border-radius: 4px;

display: block;
border: none;
min-width: 169px;
height: 56px;

margin: 0 auto;
padding: 0
;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
    .hero-button:hover {background-color: var(--ocean-color);}
    .hero-button:focus {background-color: var(--ocean-color);}

    /* Featurs - Section 2 */
    .featurs-section {
        /* padding-top: 120px;
        padding-bottom: 120px; */

        padding-top: 96px;
        padding-bottom: 96px;

        width: 428px;

    }
.featurs-container {
    display: block;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 428px;
}

.featurs-title-visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    display: flex;
}

.featurs-list {

display: flex;
flex-direction: column;
gap: 72px;
justify-content: center;
align-items: center;


    /* display: flex;
    gap: 24px; */

    

    }

.featurs-block {
    /* width: calc((100%-72px)/4); */



    width: 428px;
}

.featurs-image { 
    display: none;
    
    /* display: flex; */
    flex-direction: row;
justify-content: center;
align-items: center;
    background-color: var(--cloud-color);
    border-radius: 4px;
        width: 264px;
height: 112px;
margin-bottom: 8px;
}

/* .featurs-icon {width: 64;
height: 64;
} */


.featurs-names {  font-weight: 500;
    /* font-size: 20px; для десктопу*/
font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
margin-bottom: 8px;

width: 396px;

padding-left: 16px;

display: flex;
justify-content: center;
align-items: center;
}

.featurs-text {
    font-size: 16px;
font-weight: 500px;

line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate-color);

width: 396px;
padding-left: 16px;
}


/* Work - What are we doing - Section 3 */
.work-section {
    padding-bottom: 120px;

    display: none;

    /* для планшету та десктопу потім повернути видимість дисплею */
}
.work-container {
    display: flex;
    flex-direction: column;
    
}

.work-title {font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue-color);
    margin-bottom: 72px;}

    .work-list-container {
        display: flex;
        gap: 24px;
    }
    .work-block {width: calc((100%-48px)/3);}

/* About us - Section 4 */
.about-us-section {
    background: var(--cloud-color);
    padding: 120px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 428px;

}

.about-title {font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue-color);

    display: flex;
    justify-content: center;
    margin-bottom: 72px;

}
    
.about-us-list {
    display: flex;
    /* gap: 24px;  для десктопу і таблету змінити*/
    gap: 72px;

flex-direction: column;
justify-content: center;
align-items: center;


}

.workers-block {padding: 32px 16px}

    .name-of-workers {font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--navy-blue-color);

        margin-bottom: 8px;
        }
    .work-position {font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--slate-color);
        }

    .team-figuration {
width: calc((100%-72px)/4);
border-radius: 0px 0px 4px 4px;
        background-color: var(--white-color);

        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
    }

    .social-media-list-workers {
        display: flex;
        justify-content: center;
        flex-direction: row;
        
        
        gap: 24px;
        margin-top: 8px;
        }
        
        .background-social-media-workers {
            border-radius: 50%;
            width: 40px;
            height: 40px;
        } 


    
        .social-list-worker-item {
        
        display: flex;
        justify-content: center;
        align-items: center;
      
    width: 100%;
    height: 100%;
    background-color: var(--iris-color);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-worker-item:hover {background-color: var(--ocean-color);}
.social-list-worker-item:focus {background-color: var(--ocean-color);}
    
.worker-link-icon {fill: var(--cloud-color);} 
    /* Даний колір іконки автоматично був визначений макетом і при 
    трансформації через iconmoon так і залишився вже в файлі svg,
    тому не довелось його "зносити" при генеруванні в svg файл.
    Але записую його ще раз тут задля виконання вимоги системи. */


  /* Customers - Section 5 */
.customers-section {
    padding: 120px 0;
width: 428px;
    }

.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
color: var(--navy-blue-color);
margin-bottom: 72px
}

.customers-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
flex-wrap: wrap;

    gap: 24px;
    padding: 0;
}

.customers-item {

    /* width: calc((100% - 120px)/6); для декстопу*/
    height: 88px;
    box-sizing: border-box;
    left: 0%;
right: 0%;
top: 0%;
bottom: 0%;


}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    height: 100%;

    border: 1px solid var(--light-slate-color);
border-radius: 4px;

color: var(--light-slate-color);
transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-logo {
margin: 16px 32px;
fill: currentColor;
}

.customers-link:hover, 
.customers-link:focus 
{border: 1px solid var(--ocean-color);
    color: var(--ocean-color);}


/* .customers-link:hover .customers-logo,
.customers-link:focus .customers-logo
 {color: var(--ocean-color);} */




/* ------------------------Footer------------------------------------ */
.footer {background: var(--navy-blue-color);
    /* padding-top: 100px;
    padding-bottom: 100px; для десктоп */

    padding-top: 96px;
    padding-bottom: 96px;

    width: 428px;

 

}

.footer-container {display: flex;
    align-items: baseline;

    display: flex;
    flex-direction: column;
    align-items: center;
   }

.logo-footer-section {
    
    /* для десетоп gap: 120px; */

display: flex;
flex-direction: column;
align-items: center;

}


.logo-webstudio-footer {
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--iris-color);

display: inline-block;
margin-bottom: 16px;
}

.studio-footer {color: var(--cloud-color);
}
.footer-text {
    color: var(--cloud-color);



    font-style: normal;
/* font-weight: 500; для десктоп */
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
/* для десктоп max-width: 264px; */

width: 268px;
display: block;
}

.studio-footer {color: var(--cloud-color);
}
.studio-footer:hover {color: var(--iris-color);}
.studio-footer:focus {color: var(--iris-color);}


/* social media */
.social-media-container {
    /* margin-left: 120px; для десктопу*/
    width: 208px;
    height: 80px;
    
    margin-top: 72px;
    margin-bottom: 72px;
    margin-left: 110px;
margin-right: 110px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.social-media-text {font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
color: var(--white-color);

margin-bottom: 16px;
}

.social-media-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
    }

.social-media-box {
    width: 40px;
    height: 40px;

} 
.social-list-item { display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

background-color: var(--iris-color);
border-radius: 50%;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item:hover {background-color: var(--green-color);}
.social-list-item:focus 
{background-color: var(--green-color);}

.social-logo {fill: var(--cloud-color);
}


/* FORM - section */
.form-container-footer {    
    /* display: block; для десктоп */
    position: relative;
    /* Для декстоп width: 453px; */
    height: 80px;
    /* margin-left: 80px;  для десктопу*/

    width: 428px;


    display: flex;
    flex-direction: column;
   
    justify-content: center;
    align-items: center;

}

.form-text-footer {    margin-bottom: 16px;
        font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--white-color);}

.form-footer {display: flex;
gap: 24px;

flex-direction: column;
}

.form-label-footer {
}

.input-email-footer {
    /* для десктопу width: 264px;
    height: 40px; */
    border: 1px solid var(--white-color);

    width: 398px;
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;



background-color: transparent;
font-size: 12px;
line-height: 1.5;
letter-spacing: 0.04em;
padding-left: 16px;
border-radius: 4px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
color: var(--white-color);}

.input-email::placeholder {
color: var(--white-color);
}

.button-form-send {
    /* для десктопу min-width: 165px;
    height: 40px; */

    width: 165px;
    height: 40px;
    margin-left: 24px;
    margin-right: 131px;


    display: flex;
    justify-content: center;
    align-items: center;



font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: var(--white-color);
letter-spacing: 0.04em;

cursor: pointer;
background-color: var(--iris-color);
border: none;
border-radius: 4px;
}

.telegram-logo {margin-left: 16px;}



    /* ----------- Portfolio Main -------------- */
.portfolio-section {
    padding-bottom: 120px;
    padding-top: 96px;
}
.portfolio-hero-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


/* buttons of portfolio */
.button-font-family {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--iris-color);
    background-color: var(--cloud-color);

padding: 12px 24px;
border: 1px solid var(--cornflower-color);
border-radius: 4px;

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio-container {
    display: flex;
    justify-content: center;
    align-items: start;
    align-content: center;
    flex-direction: row;
    gap: 24px;

    margin-bottom: 72px;
}

.button-font-family:hover {color: var(--white-color);
background-color: var(--ocean-color);
border: 1px solid transparent;

box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
} 
.button-font-family:focus {color: var(--white-color);
background-color: var(--ocean-color);
border: 1px solid transparent;

box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
} 

.button-cursor, .link-cursor{
    cursor: pointer;}

    
   /* Photo products */

.portfolio-link-container { 
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.images-link-container {
    width: calc((100% - 48px)/3);
    }

.images-link-app:hover .apps-describe {transform: translateY(0%);
    animation-duration: 2000ms;}

.images-link-app:focus .apps-describe {transform: translateY(0%);
        animation-duration: 2000ms;}
    

.images-link-app {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.images-link-app:hover {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.images-link-app:focus {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.images-app {
    position: relative;
    overflow: hidden;
}

.apps-describe {
    position: absolute;
top: 0;
    color: var(--cloud-color);
    background-color: var(--iris-color);

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

height: 100%;

padding: 40px 32px;

transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

    .portfolio-apps-block {
        padding: 32px 16px;
        border: 1px solid var(--cornflower-color);
        border-top: none;
    }

.portfolio-product-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
        color: var(--navy-blue-color);
        margin-bottom: 8px;
}


.portfolio-product-description {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate-color);
}


/* Backdrop - modal-window */

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(46, 47, 66, 0.4);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal {
position: absolute;
width: 408px;
min-height: 584px;
left: 50%;
top: 50%;
transform: translate(-50%, -50%) scale(1);
transition: transform 250ms linear;

background: var(--dairy-color);
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;

padding-top: 72px;
padding-right: 24px;
padding-bottom: 24px;
padding-left: 24px;

transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {transform: translate(-50%, -50%) scaleY(0);    
}

.modal-close {
    position: absolute;
    width: 24px;
height: 24px;
right: 24px;
top: 24px;
border-radius: 50%;

display: flex;
justify-content: center;
align-items: center;

margin-left: auto;
padding: 0;

background-color: var(--cornflower-color);
border: 1px solid rgba(0, 0, 0, 0.1);

cursor: pointer;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, 
.modal-close:focus {
    background-color: var(--ocean-color);
    border-radius: 50%;
    border: none;
}

.icon-close-button { 
    fill: var(--navy-blue-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .icon-close-button, 
.modal-close:focus .icon-close-button {
    fill: var(--white-color);}


.modal-text {
           font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    text-align: center;
    letter-spacing: 0.02em;
    
    color: var(--navy-blue-color);
    margin-bottom: 16px;
}



.form-modal-box {
    margin-bottom: 8px;
}



.user-dates {
    font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: var(--light-slate-color);

display: block;
margin-bottom: 4px;
}

.svg-icon-form {
    position: relative;
}

.input-modal {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding-left: 38px;
outline: transparent;

transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:hover, .input-modal:focus {
    border-color: var(--iris-color);}

.modal-form-input-icon {
    position:absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:hover + .modal-form-input-icon {fill: var(--iris-color);}
.input-modal:focus + .modal-form-input-icon {fill: var(--iris-color);}
.modal-form-input-icon:hover, .modal-form-input-icon:focus {fill: var(--iris-color);}

.textarea-modal-container {
    margin-bottom: 16px;
}

.textarea-modal {
    width: 100%;
height: 120px;

font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);

border: 1px solid rgba(46, 47, 66, 0.2);
border-radius: 4px;
background-color: transparent;

padding: 8px 16px;
resize: none;
outline: transparent;

transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-modal::placeholder {
color: rgba(46, 47, 66, 0.4);
}
.textarea-modal:hover {border-color: var(--iris-color);}
.textarea-modal:focus {border-color: var(--iris-color);}




.license-box {
    margin-bottom: 24px;
}


.visually-hidden { 
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}


.license-text {    font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: var(--light-slate-color);


}

.license-text span {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    
}

.license-checkbox:checked + .license-text span {
    background-color: var(--ocean-color);
    fill: var(--white-color);
    border: none;

}

.license-span {display: inline-flex;
    align-items: center;
justify-content: center;
fill: transparent;

    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.privacy-policy-link {
    margin-left: 2px;
    font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: var(--iris-color);
}


.button-form-modal { display: block;

margin-left: 96px;

    min-width: 169px;
    height: 56px;
    
    background: var(--iris-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    

font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--white-color);
cursor: pointer;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}






/* modal-open-burger */

.is-open {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.js-open-menu {
    border: none;
    background-color: transparent;

    /* position: absolute;
    margin-left: 364px; */
   
}


.modal-burger {
    position: absolute;
width: 428px;
height: auto;
background: var(--white-color);
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

left: 50%;
top: 50%;
transform: translate(-50%, -50%) scale(1);
transition: transform 250ms linear;
padding: 0;
}



.burger-button-open {
    position: relative;
background-color: transparent;
border: none;

}

.burger-icon {
    stroke: var(--navy-blue-color);
}

.burger-button-close {
fill: var(--navy-blue-color);
border: 1px solid var(--navy-blue-color);
opacity: 0.5;

position: absolute;
    width: 24px;
height: 24px;
right: 24px;
top: 24px;
border-radius: 50%;

display: flex;
justify-content: center;
align-items: center;

margin-left: auto;
padding: 0;

background-color: var(--cornflower-color);
border: 1px solid var(--cornflower-color);

cursor: pointer;}


.icon-close-button-burger {fill: var(--navy-blue-color);}


.list-mobile-burger {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 80px;
    margin-left: 40px;
margin-bottom: 284px;

    padding: 0px;
gap: 40px;

width: 151px;
height: auto;

font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11;


letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--cloud-color);
}

.burger-nav-link {
    color: var(--navy-blue-color);
}
.burger-nav-link:hover, .burger-nav-link:focus {
    color: var(--ocean-color);
}

.address-burger {
    display: flex;
    flex-direction: column;
    width: 353px;
    height: auto;
    margin-left: 40px;
    margin-bottom: 48px;

    }

.number-burger {

    font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;

letter-spacing: 0.02em;
text-transform: capitalize;

color: var(--slate-color);
}

.email-burger {
    margin-top: 64px;
    width: 192px;
    height: auto;

    font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;

color: var(--slate-color);
}

.number-burger:hover, .number-burger:focus, .email-burger:hover, .email-burger:focus 
{color: var(--iris-color)}

.social-media-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.social-media-list-burger {
    display: flex;
    gap: 56px;
}

/* social-list-item - описаний в соцмережах у футері (звідти і взятий) */





